/* Space out content a bit */
body {
  padding-top: 20px;
  font-size: 20px;
  
}
/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header  {
  margin-top: 60;
  margin-bottom: 50;
  line-height: auto;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}


.container > hr {
  margin: 40px 0;
      max-width: 1200px;

}

.center{
    padding: 40px 0;
    text-align: center;

}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  
  /* Space out the masthead */
  .header {
    margin-bottom: 50px;
  }
}


hr {
    height:2px; 
    border:none; 
    background-color:#000;
    margin-top: -1px; 
    margin-bottom: 0px;"
  }

.space{
  margin-top: 50px;
  margin-bottom: 80px; 
}

a{
  padding: 10px;
}

h4{
  padding: 5px;
  padding-top: 20px;
  font-size: 25px;
}

dl{
  padding-left: 25px;
}

img{
    width: 6%;
        margin-left: 0em;
        margin-top: 0em;
        margin-right: 0em;
        margin-bottom: 2.3em;
}

